body{
    margin: 0;
}
.header{
    width: 100%;
    height: 80px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}
.navBar{
    display: flex;
    width: 75%;
    height: 60px;
    justify-content: space-between;
    align-items: center;
}
.cats{
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.cats:hover{
    border-bottom: 1px solid gray;
    color: gray;

}
.leftFlang{
    display: flex;
    margin-right: 6%;
    width: 8%;
    justify-content: space-between;
    margin-top: 1%;

}
.join1{
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.userName{
    font-family: Arial, Helvetica, sans-serif;
}
.joinPopUp{
    box-shadow: 4px 5px 8px 6px rgba(34, 60, 80, 0.2);
    border-radius: 5px;
    position: absolute;
    top: 10%;
    width: 10%;
    height: 12%;
    background-color: white;
}
.linkCnt{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.signup{
    margin-top: 10%;
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.signin{
    margin-top: 8%;
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.logOut{
    margin-top: 20%;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: red;
    font-size: 15.5px;
}
.logOut:hover{
    color: rgb(166, 56, 56);
}
.signin:hover{
    color: gray;
}
.signup:hover{
    color: gray;
}
.lLine{
    width: 75%;
}


