.cardsCnt{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-grow: 0;
    flex-basis: 33.3333%;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    width: 70%;
    margin-left: 13%;
}
.newsCard{
    width: 300px;
    height: 260px;
    margin-top: 3%;
    margin-right: 2%;
    background-color: white;
    border-radius: 5px;
}
.newsCard:hover{
    transform: scale(1.05);
    transition: 0.1s;
    filter: drop-shadow(-12px 10px 15px rgba(0, 0, 0, 0.29))
}
.cardTitle {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin-left: 3%;
    margin-top: 1%;
}

a {
    text-decoration: none;

}
.pic{
    width: 100%;
    height: 100%;
    
}
.picCnt{
    height: 200px;
    width: 300px;
}
.com{
    margin-left: 3%;
}
.coms{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-decoration: none;
    display: flex;
}
.line{
    border: 1px solid rgb(234, 228, 228);
}
button{
    border: none;
    background-color: transparent;
}
.comAm{
    margin-left: 1%;
}
.loaderArea {
    background: #0E1E32;
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    right:0;
    bottom:0;
    z-index: 100000;
  }
  .loader {
    height: 40px;
    width: 40px;
    position: absolute;
    left: 50%;
    margin-left: -20px;
    top: 50%;
    margin-top: -20px;
  }
   
  .loader:before,
  .loader:after {
    content: "";
    height: 40px;
    width: 40px;
    border: 8px solid rgba(255,255,255,.5);
    border-radius: 10px;
    position: absolute;
    top: 0;
  }
   
  .loader:before {
    animation: animate 2s infinite linear;
  }
   
  @keyframes animate {
    0% {
      transform: rotate(0) skew(0);
    }
     
    100% {
      transform: rotate(180deg) skew(360deg);
    }
  }
   
   
  .loader:after {
    animation: animate2 2s infinite linear;
  }
   
  @keyframes animate2 {
    0% {
      transform: rotate(0) skew(0);
    }
     
    100% {
      transform: rotate(-180deg) skew(-360deg);
    }
  }
  .imgCnt{
    width: 500px;
    height: 300px;
  }
  .img{
    width: 100%;
    height: 100%;
  }
  .htCnt{
    border-radius: 5px;
    background-color: white;
    width: 66.5%;
    margin-top: 1%;
    margin-left: 15%;
    height: 300px;
  }
  .htCnt2{
    display: flex;
    justify-content: space-between;
  }
  .htText{
    width: 300px;
    margin-right: 10%;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    margin-top: 3%;
  }
  .ht{
    color: red;
    font-size: 12px;
    margin-right: 3%;
  }
  .htTitle{
    margin-right: 30%;
    width: 90%;
    color: black;
    margin-top: 20%;
  }
  .comAmm{
    font-size: 12px;
  }
  .top{
    display: flex;
  }
  .topLine{
    width: 100%;
    color: rgb(205, 202, 202);
  }

